USE [master]
GO
/****** Object:  Database [BDGrifo]    Script Date: 11/07/2017 23:17:17 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'BDGrifo')
BEGIN
CREATE DATABASE [BDGrifo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDGrifo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BDGrifo.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDGrifo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BDGrifo_log.ldf' , SIZE = 2624KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDGrifo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDGrifo]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 11/07/2017 23:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cliente]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Cliente](
	[idcliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[fechaTransaccion] [varchar](50) NULL,
	[precio] [int] NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[par-par]    Script Date: 11/07/2017 23:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[par-par]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[par-par](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](20) NOT NULL,
	[Inicio] [int] NOT NULL,
	[Fin] [int] NOT NULL,
 CONSTRAINT [PK_par-par] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([idcliente], [nombre], [fechaTransaccion], [precio], [cantidad]) VALUES (1, N'Isla 1 ', N'11072017103813', 12, 20)
INSERT [dbo].[Cliente] ([idcliente], [nombre], [fechaTransaccion], [precio], [cantidad]) VALUES (2, N'Isla 1 ', N'11072017103816', 36, 19)
INSERT [dbo].[Cliente] ([idcliente], [nombre], [fechaTransaccion], [precio], [cantidad]) VALUES (3, N'Isla 1 ', N'11072017103816', 75, 21)
GO
SET IDENTITY_INSERT [dbo].[Cliente] OFF
SET IDENTITY_INSERT [dbo].[par-par] ON 

INSERT [dbo].[par-par] ([ID], [Tipo], [Inicio], [Fin]) VALUES (1, N'Precio', 10, 12)
INSERT [dbo].[par-par] ([ID], [Tipo], [Inicio], [Fin]) VALUES (2, N'Galon', 1, 100)
SET IDENTITY_INSERT [dbo].[par-par] OFF
USE [master]
GO
